body {
table, th {
        border-style: solid;
        border-width: 3px;
        border-color: blue;
}
td {
        border: 1px solid;
}
        .cs {
                background-color:#FFCC66 ;
                margin: auto;
        }
        .mgt {
                background-color: #EB99D6;
                margin: auto;
        }

