
table, th {
        border-style: solid;
        border-width: 3px;
        border-color: blue;
        background-color:#B5CEFF;

}
td {
        border: 1px solid;
}
        .cs {
                background-color:#FFCC66 ;
                margin: auto;
        }
        .mgt {
                background-color: #EB99D6;
                margin: auto;
        }
        .box {
                background-color: #7575FF;
                margin:auto;
        }
        .epl {
                background-color:#0099CC; 
                margin: auto;
        }
        .econ { 
                background-color: #00FF00;
                margin:auto;
}
.cl {
     background-color: #4DB8B8;   
}
.btq {
        background-color:#990099;
}
.gym { 
        background-color:#5C8533;
}
.dc { 
        background-color:#FF5C33;
        margin:auto;
}
.ss { 
        background-color:#DB4D98 ;
        margin:auto;
}
